{% extends "base.html" %}

{% block title %}Machine Shop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Machine Shop</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Machine Assignments</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Machine</th>
                                <th>Drawing</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines %}
                            <tr>
                                <td>{{ machine }}</td>
                                <td>{{ assignments[machine].drawing_number if machine in assignments else 'Available' }}</td>
                                <td>{{ 'Active' if machine in active_machines else 'Idle' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 